@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Presentation.DTO.LoginDto;
@{
    ViewData["Title"] = "ورود";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="container-full">
    <div class="row">
        <div class="col-12">
            <div class="col-4">
                <div class="login-box">
                    <img src="~/images/logo.jpg" alt="logo" class="logo" />
                    <h1>سرای نو</h1>
                    <p>ورود به پنل مدیریت ساخت و ساز</p>

                    <form asp-action="Login" method="post">
                        <input type="hidden" asp-for="ReturnUrl "/>
                        <div class="input-group">
                            <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="نام کاربری">
                            <i class="fa fa-envelope form-icon"></i>
                        </div>

                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="رمز عبور" asp-for="Password">
                            <i class="fa fa-lock form-icon"></i>
                        </div>


                        <button type="submit" class="btn btn-login w-100 py-2">ورود</button>
                    </form>

                    <div class="footer-text mt-4">کلیه حقوق مادی و معنوی برای سرای نو محفوظ میباشد</div>
                </div>
            </div>
            <div class="col-8">
            </div>
        </div>
    </div>
</div>
<!--end /div-->




