
@{
	Layout = "_Layout";
}

<div>
	<div class="col-12 col-md-6 col-lg-3">
		<div class="text-gold bg-dark text-center rounded-4 p-4 fw-bold fs-5">پروژه‌اعظام<br>3</div>
	</div>
	<div class="col-12 col-md-6 col-lg-3">
		<div class="text-gold bg-white text-center rounded-4 p-4 fw-bold fs-5">خلاصه مالی<br>850,000,000</div>
	</div>
	<div class="col-12 col-md-6 col-lg-3">
		<div class="bg-white rounded-4 p-4 text-end">
			<h5 class="fw-bold text-dark mb-2">بروزرسانی‌های اخیر</h5>
			<ul class="list-unstyled pe-3 small text-secondary">
				<li>برووود ۸ آپدیت شد</li>
				<li>فاکتر جدید بارگذاری شد</li>
				<li>کامرخید اضافه شد</li>
			</ul>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-3">
		<div class="bg-dark rounded-4 p-4">
			<h6 class="text-center fw-bold mb-3">نمودار پیشرفت پروژه</h6>
			<div class="d-flex justify-content-between align-items-end h-100" style="height: 120px;">
				<div class="text-center">
					<div class="bg-gold progress-bar-column" style="height: 20%;"></div>
					<div class="small mt-1">سنجش</div>
				</div>
				<div class="text-center">
					<div class="bg-gold progress-bar-column" style="height: 40%;"></div>
					<div class="small mt-1">فیشردن</div>
				</div>
				<div class="text-center">
					<div class="bg-gold progress-bar-column" style="height: 60%;"></div>
					<div class="small mt-1">صلب</div>
				</div>
				<div class="text-center">
					<div class="bg-gold progress-bar-column" style="height: 80%;"></div>
					<div class="small mt-1">پوشش</div>
				</div>
				<div class="text-center">
					<div class="bg-gold progress-bar-column" style="height: 100%;"></div>
					<div class="small mt-1">افز فرودن</div>
				</div>
			</div>
		</div>
	</div>

</div>