@model Presentation.DTO.ProjectDetailDto

@{
    ViewBag.Title = "ثبت جزیئات";
    Layout = "_Layout";
}

<div class="card">
    <div class="card-body">

        <form asp-action="CreateProjectDetail" method="post">
            <input type="hidden" asp-for="ProjectId">
            <input type="hidden" asp-for="Type">
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="UnitPrice" class="control-label"></label>
                    <input asp-for="UnitPrice" class="form-control"/>
                    <span asp-validation-for="UnitPrice" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Area" class="control-label"></label>
                    <input asp-for="Area" class="form-control"/>
                    <span asp-validation-for="Area" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="TotalPrice" class="control-label"></label>
                    <input asp-for="TotalPrice" class="form-control"/>
                    <span asp-validation-for="TotalPrice" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group mt-4">
                <input type="submit" value="ثبت" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <script>
        $("[name=UnitPrice]").keypress(function (){
            let total = $("[name=UnitPrice]").val() * $("[name=Area]").val()
            $("[name=TotalPrice]").val(total)
        })
        $("[name=Area]").keypress(function (){
            let total = $("[name=UnitPrice]").val() * $("[name=Area]").val()
            $("[name=TotalPrice]").val(total)
        })


    </script>
}
