@using Presentation.Helpers
<aside id="sidebar" class="sidebar expanded d-flex flex-column">
    <div class="logo px-3">
        <img src="/logo.svg" alt="Logo" class="me-2" style="width: 40px; height: 40px;">
        <span id="logo-text" class="text-gold fw-bold fs-4">SARAYENO</span>
    </div>
    <nav class="flex-grow-1 mt-3">
        <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="menu-item">
            <i class="fas fa-clock text-gold"></i><span class="menu-label">داشبورد</span>
        </a>
        <a asp-area="Admin" asp-controller="User" asp-action="Index" class="menu-item">
            <i class="fas fa-user text-gold"></i><span class="menu-label">کاربران</span>
        </a>
        <a asp-area="Admin" asp-controller="CostGroup" asp-action="Index" class="menu-item">
            <i class="fas fa-users text-gold"></i><span class="menu-label">گروه هزینه</span>
        </a>
        <a asp-area="Admin" asp-controller="Creditor" asp-action="Index" class="menu-item">
            <i class="fas fa-user-clock text-gold"></i><span class="menu-label">بستانکار</span>
        </a>
        <a asp-area="Admin" asp-controller="Project" asp-action="Index" class="menu-item">
            <i class="fas fa-folder text-gold"></i><span class="menu-label">پروژه ما</span>
        </a>
        <a asp-area="Admin" asp-controller="Project" asp-action="EstimateDetails" class="menu-item">
            <i class="fas fa-folder text-gold"></i><span class="menu-label">برآورد و تخمین</span>
        </a>
        <a asp-area="Admin" asp-controller="Project" asp-action="FinalDetails" class="menu-item">
            <i class="fas fa-folder text-gold"></i><span class="menu-label">متراژ و قیمت اجرا شده</span>
        </a>
        @* <div class="menu-item"> *@
        @*     <i class="fas fa-image text-gold"></i><span class="menu-label">گالری</span> *@
        @* </div> *@
        @* <div class="menu-item"> *@
        @*     <i class="fas fa-calculator text-gold"></i><span class="menu-label">حسابداری</span> *@
        @* </div> *@
        <a asp-area="Admin" asp-controller="Activity" asp-action="Index" class="menu-item">
            <i class="fas fa-envelope text-gold"></i><span class="menu-label">فعالیت</span>
        </a>
        <a asp-area="Admin" asp-controller="UnverifiedInvoice" asp-action="Index" class="menu-item">
            <i class="fas fa-envelope text-gold"></i><span class="menu-label">فاکتور های تایید نشده</span>
        </a>
        <a asp-area="Admin" asp-controller="UnsettledInvoice" asp-action="Index" class="menu-item">
            <i class="fas fa-envelope text-gold"></i><span class="menu-label">فاکتور های تسویه نشده</span>
        </a>
    </nav>
    <button id="collapseBtn" class="btn text-white w-100" style="background-color: var(--color-navy);">
        <i id="collapseIcon" class="fas fa-angle-left"></i>
    </button>
</aside>
