@using Presentation.Helpers
<aside id="sidebar" class="sidebar bg-sidebar text-white transition-all">
    <div class="logo px-3">
        <img src="~/images/logo.jpg" alt="SARAYENO" class="me-2" style=" height: 80px;">
        <span id="logo-text" class="text-gold fw-bold fs-4">SARAYENO</span>
    </div>
    <nav class="flex-grow-1 mt-3">
        @if (CheckPermission.Check(User, ""))
        {
            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index"
               class="menu-item d-flex align-items-center">
                <i class="fas fa-clock text-gold"></i><span class="ms-2 menu-text">داشبورد</span>
            </a>
        }
        @if (CheckPermission.Check(User, "Role.Index"))
        {
            <a asp-area="Admin" asp-controller="Role" asp-action="Index"
               class="menu-item d-flex align-items-center">
                <i class="fas fa-user text-gold"></i><span class="ms-2 menu-text">تعریف نقش</span>
            </a>
        }
        @if (CheckPermission.Check(User, "User.Index"))
        {
            <a asp-area="Admin" asp-controller="User" asp-action="Index"
               class="menu-item d-flex align-items-center">
                <i class="fas fa-user text-gold"></i><span class="ms-2 menu-text">تعریف کاربران</span>
            </a>
        }


        @if (CheckPermission.Check(User, "CostGroup.Index"))
        {
            <a asp-area="Admin" asp-controller="CostGroup" asp-action="Index"
               class="menu-item d-flex align-items-center">
                <i class="fas fa-users text-gold"></i><span class="ms-2 menu-text">گروه هزینه</span>
            </a>
        }
        @if (CheckPermission.Check(User, "Creditor.Index"))
        {
            <a asp-area="Admin" asp-controller="Creditor" asp-action="Index"
               class="menu-item d-flex align-items-center">
                <i class="fas fa-user-clock text-gold"></i><span class="ms-2 menu-text">بستانکار</span>
            </a>
        }
        @if (CheckPermission.Check(User, "Project.Index"))
        {
            <a asp-area="Admin" asp-controller="Project" asp-action="Index" class="menu-item d-flex align-items-center">
                <i class="fas fa-folder text-gold"></i><span class="ms-2 menu-text">پروژه ها</span>
            </a>
        }
        @if (CheckPermission.Check(User, "Project.Images"))
        {
            <a asp-area="Admin" asp-controller="Project" asp-action="Images" class="menu-item d-flex align-items-center">
                <i class="fas fa-images text-gold"></i><span class="ms-2 menu-text">گالری</span>
            </a>
        }
        @if (CheckPermission.Check(User, ["Project.EstimateDetails", "Project.FinalDetails"]))
        {
            <a asp-area="Admin" asp-controller="Project" asp-action="ProjectDetails"
               class="menu-item d-flex align-items-center">
                <i class="fas fa-folder text-gold"></i><span class="ms-2 menu-text">برآورد و تخمین</span>
            </a>
        }
        @* <div class="menu-item"> *@
        @*     <i class="fas fa-image text-gold"></i><span class="menu-label">گالری</span> *@
        @* </div> *@

        <div id="employerPaymentMenu" class="menu-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <i class="fas fa-dollar text-gold"></i><span class="me-2 menu-text">پرداختی کارفرما</span>
            </div>
            <i class="fas fa-chevron-down menu-text" id="employerPaymentChevron"></i>
        </div>

        <div id="employerPaymentSubmenu" class="submenu" style="display: none">

            @if (CheckPermission.Check(User, "EmployerPayment.Index"))
            {
                <a asp-area="Admin" asp-controller="EmployerPayment" asp-action="Index"
                   class="menu-item d-flex align-items-center">
                    <i class="fas fa-envelope text-gold"></i><span class="ms-2 menu-text">دستمزد پیمانکار</span>
                </a>
            }
            @if (CheckPermission.Check(User, "EmployerPayment.ProjectCosts"))
            {
                <a asp-area="Admin" asp-controller="EmployerPayment" asp-action="ProjectCosts"
                   class="menu-item d-flex align-items-center">
                    <i class="fas fa-envelope text-gold"></i><span class="ms-2 menu-text">هزینه پروژه</span>
                </a>
            }
        </div>
        
        @if (CheckPermission.Check(User, ["Activity.Index", "UnverifiedInvoice.Index", "UnsettledInvoice.Index", "EmployerPayment.Index", "EmployerPayment.ProjectCosts"]))
        {
            <div id="accountingMenu" class="menu-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <i class="fas fa-calculator text-gold"></i><span class="me-2 menu-text">حسابداری</span>
                </div>
                <i class="fas fa-chevron-down menu-text" id="accountingChevron"></i>
            </div>
            <div id="accountingSubmenu" class="submenu" style="display: none">
                @if (CheckPermission.Check(User, "UnsettledInvoice.Index"))
                {
                    <a asp-area="Admin" asp-controller="UnsettledInvoice" asp-action="Index"
                       class="menu-item d-flex align-items-center">
                        <i class="fas fa-envelope text-gold"></i><span
                            class="ms-2 menu-text">فاکتور های تسویه نشده</span>
                    </a>
                }
                @if (CheckPermission.Check(User, "Activity.Index"))
                {
                    <a asp-area="Admin" asp-controller="Activity" asp-action="Index"
                       class="menu-item d-flex align-items-center">
                        <i class="fas fa-envelope text-gold"></i><span class="ms-2 menu-text">فعالیت های در حال انجام</span>
                    </a>
                }
                @if (CheckPermission.Check(User, "UnverifiedInvoice.Index"))
                {
                    <a asp-area="Admin" asp-controller="UnverifiedInvoice" asp-action="Index"
                       class="menu-item d-flex align-items-center">
                        <i class="fas fa-envelope text-gold"></i><span
                            class="ms-2 menu-text">فاکتور های تایید نشده</span>
                    </a>
                }
            </div>
        }


    </nav>
    <button id="collapseBtn" class="btn bg-sidebar text-white w-100 py-3 border-0"
            style="background-color: var(--color-navy);">
        <i id="collapseIcon" class="fas fa-angle-left"></i>
    </button>
</aside>
<script>

    const sidebar = document.getElementById('sidebar');
    const collapseBtn = document.getElementById('collapseBtn');
    const collapseIcon = document.getElementById('collapseIcon');
    const accountingMenu = document.getElementById('accountingMenu');
    const accountingSubmenu = document.getElementById('accountingSubmenu');
    const accountingChevron = document.getElementById('accountingChevron');
    const employerPaymentMenu = document.getElementById('employerPaymentMenu');
    const employerPaymentSubmenu = document.getElementById('employerPaymentSubmenu');
    const employerPaymentChevron = document.getElementById('employerPaymentChevron');

    collapseBtn.addEventListener('click', () => {
        sidebar.classList.toggle('collapsed');
        collapseIcon.classList.toggle('rotate-180');
    });

    accountingMenu.addEventListener('click', () => {
        const isVisible = accountingSubmenu.style.display === 'block';
        accountingSubmenu.style.display = isVisible ? 'none' : 'block';
        accountingChevron.classList.toggle('rotate-180');
    });
    employerPaymentMenu.addEventListener('click', () => {
        const isVisible = employerPaymentSubmenu.style.display === 'block';
        employerPaymentSubmenu.style.display = isVisible ? 'none' : 'block';
        employerPaymentChevron.classList.toggle('rotate-180');
    });
</script>
